@tailwind base;

@layer base {
  body,
  #root {
    min-block-size: 100vh;
  }

  #root {
    display: flex;
    flex-direction: column;
  }

  footer {
    margin-block-start: auto;
  }

  h1,
  h2,
  h3 {
    @apply font-semibold;
  }

  :where(div, p):empty {
    display: none;
  }
}

@tailwind components;
@tailwind utilities;
